.nav {
  grid-column: 1 / 2;
  background-color: var(--basic-blue);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav__item {
  list-style: none;
  margin-bottom: 5px;
  height: 50px;
}

.nav__item:nth-last-child(2) {
  margin-bottom: 30px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  align-items: center;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  height: 100%;
}

.link_active {
  color: #3966bc;
  background-color: #87c3ff;
}