.post_item {
  list-style: none;
  margin: 20px;
  border: 1px solid #77d0f5;
  background-color: rgba(119, 208, 245, 0.22);
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  grid-template-rows: 1fr 30px;
  grid-template-areas:
    "ava message message"
    "ava data data";
}

.message {
  grid-area: message;

}

.avatar {
  width: 50px;
  grid-area: ava;
  justify-self: center;
  padding-top: 10px;
}

.data {
  grid-area: data;
  justify-self: end;
  align-self: end;
  font-size: 11px;
  padding-right: 5px;
  padding-bottom: 5px;
  line-height: 1em;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.3);
}

.data button {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  padding: 3px;
  margin-left: 5px;
  background-color: #77d0f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43px;
  
  &:hover {
    background-color: #79c7ef;
  }

  &:active {
    background-color: #79bfe0;
  }
}

.like {
  width: 15px;
}