.posts_item {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 20px auto 20px;
  list-style: none;
  margin-bottom: 20px;
}

.posts_item:last-child {
  margin-bottom: 0;
}

.avatar {
  max-width: 70px;
  height: 70px;
  background-color: tomato;
  border-radius: 50%;
  grid-row: 1 / 4;
  margin-right: 10px;
}

.like {
  grid-column: 2 / 3;
  width: 50px;
  justify-self: end;
}

.text {
  padding-left: 10px;
  /*background-color: tomato;*/
}

.username {
  padding-left: 10px;
  font-weight: bold;
}